* {
    box-sizing: border-box;
}

html {
    font-family: "roboto", sans-serif;
    margin: 0;
    padding: 0;
}

/* The Header section */
header{
    height: 60px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    background-color: rgba(255,255,255, 0.6);
}

header > a > img{
    width: 50px;
    margin: 5px;
    height: 45px;
    
}

header > nav, header div {
    display: inline-block;
    margin-top: 25px;
}

header > nav a {
    text-decoration: none;
    color: #049e51;
    padding: 10px;
    font-size: 1rem;
    font-weight:600; 
}

.btn {
    text-decoration: none;
    background-color: #039149;
    color: #fff;
    padding: 8px 20px;
    border-radius: 25px;
    font-size: 1rem;
    margin: 0 5px;
}

/* .btn:hover {
    text-decoration: none;
    background-color: #fff;
    color: #039149;
    padding: 8px 20px;
    border-radius: 25px;
    font-size: 1rem;
    margin: 0 5px;
} */

/* General styles */
.container {
    width: 95%;
   margin: auto;
     
}


.btnTrans{
    background-color: #F5F8FF;
    color: #039149;
    box-shadow: 2px 2px 4px #ddd;
}
/* 
.bgpics{
    background-color: #264827;
    padding: 20px;
} */


/* Main section */
.main {
    text-align: center;
    font-size: 20px;
    color: #fff;
    background-color: #1e5c20;
    padding: 30px;
}

.main h1{
    font-size: 3rem;
    color: #fff;
    padding-bottom: 0px;
}

.main p{
    font-size: .9rem;
}

/* Search section */
.search > form {
    text-align: center;
    position: relative;
    display: flex;
    justify-content: space-between;

}

.search {
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.fa-search{
    position: absolute;
    padding: 18px;
}

#search{
    padding: 25px 38px;
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 25px;
    font-size: 20px;
}

.searchContainer{
    width: 60%;
}

fieldset{
    border-radius: 30px;
    border-width: 1px;
    text-align: left;
}

fieldset > input {
    border: none;
}

fieldset > legend {
    font-size: .7rem;
}

/* Project showcase */


.projectShowMain{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

    /* Filter section */
.filter {
    width: 25%;
    border-right: 1px solid #ccc;
    padding: 10px;
    overflow: scroll;
    
}

.filter a{
    border: 1px solid #ccc;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 20px;
    display: block;
    text-align: center;
    margin: 5px;
    color: grey;
}

a.currentFilter{
    border-color: #049e51;
}

.filter h4{
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
}

.filter h4 img{
    width: 22px;
    position: relative;
    top: 4px;
}

.showcaseContainer{
    flex-basis: 70%;
}

.projectShowcase{
    display: flex;
    font-size: 18px;
    padding: 30px 0;
    flex-wrap: wrap;
    gap: 10px;
    
    
    /* justify-content: space-between; */
    box-sizing: border-box;
    
    
}

.projectShowcase > section {
    width: 278px; 
    /* border: 1px solid #ddd; */
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    /* height: 300px; */
    margin: 6px 0;
}

.projectShowcase > section img {
    width:100%;
    height: 200px;
    border-radius: 5px;

}

.projectShowcase > section p {
    padding: 0 5px;
    margin: 0;
    font-weight: 600;
    font-size: .95rem;
    text-align: justify;
}

.projectShowcase > section span a{
    text-decoration: none;
    font-size: .9rem;
    padding: 5px 5px;
    color: grey;
}

/* About Section */

.aboutSec {
    text-align: center;
    color: #fff;
    background-color: #039149;
    padding: 20px 0;
    border-radius: 15px;
    
}

.aboutSec h3 {
    font-size: 40px;

}

.aboutSec p{
    text-wrap: wrap;
    padding: 0 10%;
}

/* Newsletter section */

.newsletter {
    text-align: center;
    font-size: 20px;
    padding: 40px;
   
}

.newsletter input{
    padding: 10px;
    border-radius: 10px;
    width: 250px;
}




/* 
====================================================
The login Page Section
==================================================
*/
.loginBg {
    background-image: url("../assets/images/bg-login-desktop.png");
    background-color: rgba(255, 255, 255, 0.7);
    padding: 100px 0;
}

.loginBg > section {
    width: 78%;
    margin: 0 auto;
    display: flex;
    /* gap: 5px; */

}

.loginForm{
    background-color: #fff;
    box-shadow: 0 2px 2px #ddd;
    padding: 25px;
}

.loginForm input{
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    margin: 7px 0;
    border: 1px solid #ddd;
}

.loginForm label{
    font-weight: 600;
}

.loginForm .fgPassword{
    display: flex;
    justify-content: space-between;
    margin: 7px 0;
}

#submit {
    padding: 10px;
    background-color: #039149;
    color: #fff;
    width: 100%;
    border-radius: 8px;
    border: none;
    margin: 7px 0;
}

.fgPassword .tryInline input{
    width: 13px;
}

.fgPassword a, .loginForm p a{
    text-decoration: none;
    color: #039149;
}

.illustration{
    background-color: #F2796E;
    box-shadow: 2px 2px 2px 2px #ddd;
    padding: 25px;
    /* width: 50%; */
}

.illustration img{
    width: 100%;
}

form > div{
    position: relative;
}

.failure-icon {
    position: absolute;
    right: 0;
    padding: 18px 10px;
    color: red;
    opacity: 0;
}

 .error {
    color: red;
    text-align: right;
    font-size: 14px;
 }




 /* ==================================
 The Hire Page section
 ==================================== */
 
 .hireFellow{
    display: flex;
    font-size: 18px;
    padding: 30px 0;
    flex-wrap: wrap;
    gap: 10px;
    box-sizing: border-box;
    
    
}
 
 .hireFellow > section {
    width: 420px; 
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    height: 330px;
    margin: 6px 0;
    
}

.hireFellow > section img {
    width:100%;
    height: 150px;
    border-radius: 5px;

}

.hireFellow > section p {
    padding: 0 5px;
    margin: 0;
    font-weight: 600;
    font-size: .95rem;
    text-align: center;
    padding-top: 50px;

}

.hireFellow > section span a{
    text-decoration: none;
    font-size: .9rem;
    padding: 5px 5px;
    color: grey;
    text-align: center;
    display: block;
    
}

.relative {
    position: relative;
}

.hireFellow .avatar {
    position: absolute;
    border-radius: 50%;
    width: 145px;
    top: -100px;
    left: 135px;
    border: 3px dotted #ccc;    
}

.hire{
    text-decoration: none;
    padding: 8px;
    border-radius: 8px;
    width: 96%;
    margin: 8px;
    text-align: center;
    color: #fff;
    background-color: #039149;
    display: block;

}
/*============================== 
Footer Section 
===============================*/

footer {
    color: #fff;
    background-color: #049e51;
    margin-top: 10px;
}

.ftflex{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 96%;
}

.ftflex > div {
    margin-top: 10px;
}

footer a{
    text-decoration: none;
    color: #fff;
    padding: 5px;
}